.features{
    min-height: 100vh;
    --largest:500px;
    --diff:100px;
    background:#efefef;
    
    @include flex-center;
    .circle{
       background: #fff;
       box-shadow:$shadow;
       height:500px;
       border-radius: 100%;
       padding: 20px;
       text-align: center;
       font-size: 13px;
       @include flex-center(column);
    }
    & >div:nth-of-type(1){
        width:calc(var(--largest) - var(--diff));  
        height:calc(var(--largest) - var(--diff));
        margin-right:-12px;
     }
     & >div:nth-of-type(2){
        width:var(--largest); 
        z-index: 2;
     }
     & >div:nth-of-type(3){
        width:calc(var(--largest) - var(--diff));  
        height:calc(var(--largest) - var(--diff));
        margin-left:-14px; 
        
     }
     @include media-md{
         padding:100px 20px;
        --largest:300px;
        .circle{
            height: 300px;
            font-size: 12px;
        }
    }
    @include media-sm-md{
        flex-flow: column;
    }
    @include media-sm{
       .circle{
           width: 60% !important;
           height: 200px !important;
           margin: 10px 0 !important;
       }
    }
}